extends ../layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        .title Log In    
        #main.container
          // Content
          #content
            div(class'6u 12u(mobile)')
              // Contact Form
              section.box
                form.form-horizontal(method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .row(class='50%')
                    .div(class='12u')
                      label.col-sm-3.control-label(for='username') Username
                      .col-sm-7
                        input.form-control(type='email', name='username', id='username', placeholder='USC ID', autofocus, required)
                  .row(class='50%')
                    .div(class='12u')
                      label.col-sm-3.control-label(for='password') Password
                      .col-sm-7
                        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
                  .row(class='50%')  
                    .div(class='12u')
                      a.btn.btn-link(href='/forgot') Forgot your password?
                      .div(class='12u')
                        button.col-sm-3.btn.btn-primary(type='submit', class='style1')
                          i.fa.fa-user
                          | Login
                  .row(class='50%')
                    .div(class='12u')
                      label(for='signup') New to Know it All?   
                      a.btn.btn-link(href='/signup', id='signup') Sign up
                  .row(class='50%')  
                    .div(class='12u')
                      .col-sm-offset-3.col-sm-7

