extends ../layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        .title Create Something New      
        #main.container
          // Content
          #content
            .row(class='150%')
              div(class='6u 12u(mobile)')
                // Contact Form
                section.box
                  header
                    h1 Poll 
                  form.form-horizontal(method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='email') Email
                      .col-sm-7
                        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
                    .form-group
                      label.col-sm-3.control-label(for='password') Password
                      .col-sm-7
                        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
                    .form-group
                      .col-sm-offset-3.col-sm-7
                        button.col-sm-3.btn.btn-primary(type='submit', class='style1')
                          i.fa.fa-user
                          | Login
                      a.btn.btn-link(href='/forgot') Forgot your password?
                    .form-group
                      .col-sm-offset-3.col-sm-7
              div(class='6u 12u(mobile)')
                // Contact Form
                section.box
                  header
                    h1 Rating 
                  form(method='post', action='#')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Entity Name')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='number', name='tags', placeholder='Rating (0-10)', min='0', max='10')
                    .row(class='50%')
                      div(class='12u')
                        textarea#contact-question(type='text', name='question', placeholder='Comments', rows='2')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Tags (comma separated)')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-anon(type='checkbox', name='anon', value='Submit as Anonymous')
                        label(for='contact-anon') Submit as Anonymous
                    .row
                      div(class='12u')
                        input.style1(type='submit', value='Create New Rating')

  