extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        #main.container
          // Content
          #content
            article.box.post
              header.style1
                h2
                  | Entity Name
                p Average Rating: 5.5/10
                p
                  | tags, tags, tags, tags, tags, tags, tags 
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h2 Submit your own rating
                  form(method='post', action='#')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='number', name='tags', placeholder='Rating (0-10)', min='0', max='10')
                    .row(class='50%')
                      div(class='12u')
                        textarea#contact-question(type='text', name='question', placeholder='Comments', rows='2')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Tags (comma separated)')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-anon(type='checkbox', name='anon', value='Submit as Anonymous')
                        label(for='contact-anon') Submit as Anonymous
                    .row
                      div(class='12u')
                        input.style1(type='submit', value='Create New Rating')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
          // Content
          #content
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
