extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        #main.container
          // Content
          #content
            article.box.post
              header.style1
                h2
                  | Entity Name
                p Average Rating: 5.5/10
                p
                  | tags, tags, tags, tags, tags, tags, tags 
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h2 Submit your own rating
                  form(method='post', action='#')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='number', name='tags', placeholder='Rating (0-10)', min='0', max='10')
                    .row(class='50%')
                      div(class='12u')
                        textarea#contact-question(type='text', name='question', placeholder='Comments', rows='2')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Tags (comma separated)')
                    .row
                      div(class='12u')
                        input.style1(type='submit', value='Create New Rating')
              .row(class='100%')
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      .row
                        h1 *****
                        h2 6/15/17
                    p
                      | Comments if any...
                    p 
                      | User/Anonymous
                div(class='4u 12u(mobile)')
                  section.box
                    header
                      .row
                        h1 *****
                        h2 6/15/17
                    p
                      | Comments if any...
                    p 
                      | User/Anonymous
          // Content
          #content
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    h2 Magna pulvinar tempus
                  a.image.featured(href='#')
                    img(src='images/pic05.jpg', alt='')
                  p
                    | Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus
                    | eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis
                    | tempus.
                  a.button.style1(href='#') More
              div(class='4u 12u(mobile)')
                section.box
                  header
                    h2 Magna pulvinar tempus
                  a.image.featured(href='#')
                    img(src='images/pic06.jpg', alt='')
                  p
                    | Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus
                    | eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis
                    | tempus.
                  a.button.style1(href='#') More
              div(class='4u 12u(mobile)')
                section.box
                  header
                    h2 Magna pulvinar tempus
                  a.image.featured(href='#')
                    img(src='images/pic07.jpg', alt='')
                  p
                    | Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus
                    | eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis
                    | tempus.
                  a.button.style1(href='#') More
              div(class='4u 12u(mobile)')
                section.box
                  header
                    h2 Magna pulvinar tempus
                  a.image.featured(href='#')
                    img(src='images/pic05.jpg', alt='')
                  p
                    | Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus
                    | eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis
                    | tempus.
                  a.button.style1(href='#') More
              div(class='4u 12u(mobile)')
                section.box
                  header
                    h2 Magna pulvinar tempus
                  a.image.featured(href='#')
                    img(src='images/pic06.jpg', alt='')
                  p
                    | Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus
                    | eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis
                    | tempus.
                  a.button.style1(href='#') More
              div(class='4u 12u(mobile)')
                section.box
                  header
                    h2 Magna pulvinar tempus
                  a.image.featured(href='#')
                    img(src='images/pic07.jpg', alt='')
                  p
                    | Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus
                    | eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis
                    | tempus.
                  a.button.style1(href='#') More
      // Highlights
      .wrapper.style3
        .title Poll Results
        #highlights.container
          .row(class='150%')
            div(class='4u 12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/pic02.jpg', alt='')
                h3
                  a(href='#') Aliquam diam consequat
                p
                  | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                ul.actions
                  li
                    a.button.style1(href='#') Learn More
            div(class='4u 12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/pic03.jpg', alt='')
                h3
                  a(href='#') Nisl adipiscing sed lorem
                p
                  | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                ul.actions
                  li
                    a.button.style1(href='#') Learn More
            div(class='4u 12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/pic04.jpg', alt='')
                h3
                  a(href='#') Mattis tempus lorem
                p
                  | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                ul.actions
                  li
                    a.button.style1(href='#') Learn More
      // Footer
      #footer-wrapper.wrapper
        <!--.title The Rest Of It -->
        #copyright
          ul
            li © Untitled.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP 
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
