doctype html
//
  Escape Velocity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title No Sidebar - Escape Velocity by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='js/ie/html5shiv.js')
    link(rel='stylesheet', href='css/ev.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie8.css')
  body.no-sidebar
    #page-wrapper
      // Header
      #header-wrapper.wrapper
        #header
          // Nav
          nav#nav
            ul
              li
                a(href='escape-velocity') Home
              li
                a(href='new-entry') Create Entry
              li
                a(href='escape-velocity') Search
              li
                a(href='signup') Login/Signup
          block header
      block content

          // Footer
      #footer-wrapper.wrapper
        <!--.title The Rest Of It -->
        #copyright
          ul
            li © Untitled.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP 
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
