doctype html
//
  Escape Velocity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title KnowItAll
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='js/ie/html5shiv.js')
    link(rel='stylesheet', href='css/ev.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie8.css')
  body.no-sidebar
    #page-wrapper
      // Header
      #header-wrapper.wrapper
        #header
          // Nav
          nav#nav
            ul
              li.current
                a(href='index.html') Home
              li
                a(href='#') Dropdown
                ul
                  li
                    a(href='#') Lorem ipsum
                  li
                    a(href='#') Magna veroeros
                  li
                    a(href='#') Etiam nisl
                  li
                    a(href='#') Sed consequat
                    ul
                      li
                        a(href='#') Lorem dolor
                      li
                        a(href='#') Amet consequat
                      li
                        a(href='#') Magna phasellus
                      li
                        a(href='#') Etiam nisl
                      li
                        a(href='#') Sed feugiat
                  li
                    a(href='#') Nisl tempus
              li
                a(href='left-sidebar.html') Left Sidebar
              li
                a(href='right-sidebar.html') Right Sidebar
              li
                a(href='no-sidebar.html') No Sidebar
      block content

          // Footer
      #footer-wrapper.wrapper
        <!--.title The Rest Of It -->
        #copyright
          ul
            li © Untitled.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP 
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
