extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        .title Create Something New      
        #main.container
          // Content
          #content
            .row(class='150%')
              div(class='6u 12u(mobile)')
                // Contact Form
                section.box
                  header
                    h1 Poll 
                  form(method='post', action='#')
                    .row(class='50%')
                      div(class='12u')
                        textarea#contact-question(type='text', name='question', placeholder='Question', rows='2')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='option1', placeholder='Option 1')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='option2', placeholder='Option 2')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='option3', placeholder='Option 3')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='option4', placeholder='Option 4')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Tags (comma separated)')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='number', name='tags', placeholder='Duration (in days)', min='0')
                    .row
                      div(class='12u')
                        input.style1(type='submit', value='Create New Poll')
              div(class='6u 12u(mobile)')
                // Contact Form
                section.box
                  header
                    h1 Rating 
                  form(method='post', action='#')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Entity Name')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='number', name='tags', placeholder='Rating (0-10)', min='0', max='10')
                    .row(class='50%')
                      div(class='12u')
                        textarea#contact-question(type='text', name='question', placeholder='Comments', rows='2')
                    .row(class='50%')
                      div(class='12u')
                        input#contact-email(type='text', name='tags', placeholder='Tags (comma separated)')
                    .row
                      div(class='12u')
                        input.style1(type='submit', value='Create New Rating')
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')
