extends layout

block content
  body.no-sidebar
    #page-wrapper
      // Main
      .wrapper.style2
        #main.container
          // Content
          #content
            article.box.post
              header.style1
                h2
                  | Username
                p Maybe the date joined or some other stat from the backend
            .row(class='150%')
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
              div(class='4u 12u(mobile)')
                section.box
                  header
                    .row
                      h1 *****
                      h2 6/15/17
                  p
                    | Comments if any...
                  p 
                    | User/Anonymous
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-viewport.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='js/ie/respond.min.js')
    script(src='js/main.js')